<!-- This is the template page and will make up the basic structure for
other pages on the website -->

<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/mainstyles.css">
        <!-- <link rel="stylesheet" href="/reset.css"> -->
        <link href="https://fonts.googleapis.com/css?family=Overpass:400,400i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.typekit.net/trr8hvh.css">
    </head>
    <body>





        <!-- The content of other pages will be injected into {{{body}}} -->
        {{{body}}}







        <script type="text/javascript" src="./canvas.js"></script>

    </body>
</html>
