<div id="flex-container">

    <section id="info-container">



        <header>
            <div id="reg-h1-line-1-container">
                <h1 id="reg-h1-line-1">Adopt a</h1>
                <a href="/login"><button id="home-log-in-button">Log in</button></a>
            </div>
            <h1 id="reg-h1-line-2">Tokoloshe</h1>
            <div id="reg-h2-containerr">


                <h2 id="home-sub">Save Africa's most exotic creature</h2>
            </div>
        </header>
        <section id="inputs-container">


            <form method="POST">

                <h3 id="cta">Please register your details:</h3>

                <h4>First Name</h4>
                <input name="fname" />

                <h4>Last Name</h4>
                <input name="lname" />

                <h4>Email Address</h4>
                <input name="email" />

                <h4>Password</h4>
                <input type="password" name="password" />

                <input type="hidden" name="_csrf" value="{{csrfToken}}">

                <button id="submit-button">SUBMIT</button>

            </form>


        </section>
    </section>



    <section id="image-container">


    </section>


</div>